<!DOCTYPE html>
<html>

<head>
	<meta charset="utf8">
	<title>MathJax Viewer</title>

	<!-- Needs to be loaded before MathJax in order to make image exports work -->
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
		tex2jax: { inlineMath: [["$","$"],["\\(","\\)"]] },
		"HTML-CSS": {linebreaks: { automatic: true, width: "container" }          },
		"SVG": {useFontCache: false,},

		// Engines to initialize at startup
		jax: ["input/TeX", "input/AsciiMath", "output/HTML-CSS", "output/SVG"],
		extensions: ["tex2jax.js", "asciimath2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
		});
	</script>

	<!-- Asynchronous scripts -->
	<script async src="https://cdn.jsdelivr.net/npm/mathjax@2.7.9/MathJax.js"></script>
	<script async src="https://cdn.jsdelivr.net/npm/downloadjs@1.4.7/download.min.js"
		integrity="sha256-jO7zIwKMJTUQkptQfQMhu+uL4erqSzAd0wUfueDCuNI=" crossorigin="anonymous"></script>
	<script async src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.js"
		integrity="sha256-P8jY+MCe6X2cjNSmF4rQvZIanL5VwUUT4MBnOMncjRU=" crossorigin="anonymous"></script>
	<!--script async src="https://cdn.jsdelivr.net/npm/zepto@1.2.0/dist/zepto.min.js" integrity="sha256-vrn14y7WH7zgEElyQqm2uCGSQrX/xjYDjniRUQx3NyU=" crossorigin="anonymous"></script-->

	<!-- Synchronous scripts -->
	<script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"
	integrity="sha256-KSlsysqp7TXtFo/FHjb1T9b425x3hrvzjMWaJyKbpcI=" crossorigin="anonymous"></script>
	<script defer src="app.js"></script>

	<!-- Styles -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic" media="async" onload="this.media='all'">
	<link rel="stylesheet" href="style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Preloads -->
	<link rel="preload" href="themes.json">
	<link rel="preload" href="toolboxes.json">

</head>

<body>
	<div id="app">
		<h1>MathJax Viewer</h1>
		<div class="flex one three-800" id="Main">
			<div>
				<div class="hstack" style="width:100%;">
					<label class="button gray render" style="width:30%" for="toolboxSelect">Toolbox:
					</label><select id="toolboxSelect" style="width:70%" v-model="toolbox">
						<option v-for="tbx, id in groupedtoolboxes" v-bind:value="id">{{ tbx.name }}</option>
					</select>
				</div>
			</div>
			<div>
				<div class="hstack" style="width:100%;margin-bottom:3px;">
					<label class="button gray render" style="width:30%" for="inputSelect">Input:
					</label><select id="inputSelect" style="width:70%" v-model="mathInput" @change="render">
						<option value="TeX">LaTeX</option>
						<option value="AsciiMath">AsciiMath</option>
						<!--option value="quill" disabled>MathQuill</option-->
					</select>
				</div>
			</div>
			<div>
				<div class="hstack" style="width:100%;margin-bottom:3px;">
					<label class="button gray render" style="width:30%" for="themeSelect">Theme:
					</label><select id="themeSelect" style="width:70%" v-model="theme" @change="updateTheme">
						<optgroup v-for="themes, groupname in groupedthemes" v-bind:label="groupname">
							<option v-for="theme, key in themes" v-bind:value="key">{{ theme.name }}</option>
						</optgroup>
						<option value="custom">Custom</option>
					</select>
				</div>
			</div>
		</div>


		<div class="flex one two-800" v-if="theme==='custom'">
			<div class="hstack">
				<label class="button gray render" style="width:30%" for="backgroundInput">Background:
				</label>
				<input type="color" v-model="cBkgColor" id="backgroundInput" style="width:70%" />
			</div>
			<div class="hstack">
				<label class="button gray render" style="width:30%" for="textColorInput">Text:
				</label>
				<input type="color" v-model="cTextColor" id="textColorInput" style="width:70%" />
			</div>
		</div>


		<div class="flex one">
			<div class="hstack adder" v-for="tbx, id in groupedtoolboxes" v-if="toolbox===id">
				<span class="button gray">Add
				</span><span class="button" v-for="tool in tbx.items"
					v-on:click="insertMath(tool)"
					v-bind:class="{pink: tool.color===1, navy: tool.color===2}">{{ tool.icon }}
				</span>
			</div>
		</div>

		<div class="flex one two-800" id="InputArea">
			<div>
				<textarea autofocus class="render" v-bind:placeholder="(mathInput=='AsciiMath') ? 'AsciiMath':'LaTeX'" v-on:keyup="inputCallback" v-model="inputty"
					id="inputty"></textarea>
			</div>
			<div style="min-width: 50%; width: auto;">
				<div id="putty" class="render"
					v-bind:style="{color:  cTextColor, backgroundColor: cBkgColor, border: cBorder}"></div>
			</div>
		</div>


		<div>
			<div>
				<div class="hstack" v-on:click="showCheatSheet=!showCheatSheet">
					<span class="button gray">Cheat sheet
					</span><span class="button cyan">{{
						showCheatSheet ? "Hide":"Show" }}</span>
				</div>
				<div class="hstack adder">
					<button class="navy" @click="renderSVG(function(data) {download(data, 'MathJax.svg', 'image/svg+xml')})">SVG
					</button><span class="button gray">&#11123;
					</span><button class="navy" @click="renderPNG(function(data) {download(data, 'MathJax.png', 'image/png')})">PNG
					</button><button class="navy" @click="renderPNG(function(data) {window.open(data)})">&#8599;
					</button><!--button onclick="clipboardPNG(event)">&#128203;
					</button-->
				</div>
				<button onclick="linkToClipboard(event)" class="pink">Copy link</button>
				<div class="hstack" v-on:click="autorender=!autorender">
					<span class="button gray">Auto-render
					</span><span class="button" v-bind:class="{'green':autorender, 'red':!autorender}">{{
						autorender ? "On":"Off" }}</span>
				</div>
				<button v-on:click="render" v-if="!autorender" class="navy">Render</button>
			</div>
			<div v-bind:style="{height: showCheatSheet ? '100%':'0', opacity: showCheatSheet ? '1':'0'}"
				style="overflow:clip; transition: height 0.5s, opacity 0.5s;">
				<hr>
				<table style="width:100%;" id="cheatsheet">
					<thead>
						<tr>
							<th>Description</th>
							<th>LaTeX</th>
							<th>Result</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Basic operators</td>
							<td>
								<div>+, -, \times, \cdot, \sqrt{x}, \frac{\sqrt[4]{y}}{z}, \pm, \div, x_z^y</div>
							</td>
							<td>$$+, -, \times, \cdot, \sqrt{x}, \frac{\sqrt[4]{y}}{z}, \pm, \div, x_z^y$$</td>
						</tr>
						<tr>
							<td>Comparisons</td>
							<td>
								<div>&lt;, \leq, \geq, >, \approx, \equiv, \cong, \simeq, \sim, \not\sim, \propto,
									\neq
								</div>
							</td>
							<td>$$&lt;, \leq, \geq, >, \approx, \equiv, \cong, \simeq, \sim, \not\sim, \propto,
								\neq$$
							</td>
						</tr>
						<tr>
							<td>Integrals and sums</td>
							<td>
								<div>\int_{0}^{\infty} f(x) \mathrm{d}x \leq \sum_{k=0}^{\infty} f(kx)</div>
							</td>
							<td>$$\int_{0}^{\infty} f(x) \mathrm{d}x \leq \sum_{k=0}^{\infty} f(kx)$$</td>
						</tr>
						<tr>
							<td>Derivatives and limits</td>
							<td>
								<div>\frac{\partial}{\partial x} = \lim_{h \to 0} \frac{f(x+h)-f(x)}{h}</div>
							</td>
							<td>$$\frac{\partial}{\partial x} = \lim_{h \to 0} \frac{f(x+h)-f(x)}{h}$$</td>
						</tr>
						<tr>
							<td>Variables</td>
							<td>
								<div>\vec x, \mathbf x, \dot \varepsilon, \ddot x, \breve A, \hat \varphi, \bar \Delta,
									\ell ', \tilde
									\vartheta, \check \jmath \in
									\mathbb{R}^3</div>
							</td>
							<td>$$\vec x, \mathbf x, \dot \varepsilon, \ddot x, \breve A, \hat \varphi, \bar \Delta,
								\ell ', \tilde
								\vartheta, \check \jmath \in
								\mathbb{R}^3$$</td>
						</tr>
						<tr>
							<td>Misc. vector operators</td>
							<td>
								<div>x \bot y \, \| \, 2 y \Rightarrow x \cdot y = 0 \iff \angle(x, y) =
									\frac{\pi}{2}
								</div>
							</td>
							<td>$$x \bot y \, \| \, 2 y \Rightarrow x \cdot y = 0 \iff \angle(x, y) =
								\frac{\pi}{2}$$
							</td>
						</tr>
						<tr>
							<td>Matrices</td>
							<td>
								<div>\det\begin<span>{</span>bmatrix}1 & \dotsb & 2 \\ \vdots & \ddots & \vdots \\ 5
									&
									\dotsb & 7 \end{bmatrix} \neq \left|\begin<span>{</span>matrix}1 & 2 \\ 3 &
									4\end{matrix}\right|</div>
							</td>
							<td>$$\det\begin{bmatrix}1 & \dotsb & 2 \\ \vdots & \ddots & \vdots \\ 3 & \dotsb & 4
								\end{bmatrix} \neq \left|\begin{matrix}1 & 2 \\ 3 & 4\end{matrix}\right|$$</td>
						</tr>
						<tr>
							<td>Logic</td>
							<td>
								<div>\exists ~ \varrho : \varrho \leq \nabla f \lor 1 = 1 \iff \varrho \not\in
									\emptyset
									\subseteq A \: \forall A \land 1 = 2</div>
							</td>
							<td>$$\exists ~ \varrho : \varrho \leq \nabla f \lor 1 = 1 \iff \varrho \not\in
								\emptyset
								\subseteq A \: \forall A \land 1 = 2$$</td>
						</tr>
						<tr>
							<td>Set operators</td>
							<td>
								<div>A\in\{\} \not\Leftarrow A \cap B = \emptyset \iff |A+B| = |A \cup B|</div>
							</td>
							<td>$$A\in\{\} \not\Leftarrow A \cap B = \emptyset \iff |A+B| = |A \cup B|$$</td>
						</tr>
						<tr>
							<td>Cases</td>
							<td>
								<div>\begin<span>{</span>cases}x^2 & x \in \mathbb Q \\ -x^2 & x \not \in \mathbb
									Q\end{cases}
								</div>
							</td>
							<td>$$\begin{cases}x^2 & x \in \mathbb Q \\ -x^2 & x \not \in \mathbb Q\end{cases}$$
							</td>
						</tr>
						<tr>
							<td>Misc. set operators</td>
							<td>
								<div>\bigcup_{k=1}^n A_k^\star = \left(\bigcap_{k=1}^n A_k\right)^\star</div>
							</td>
							<td>$$\bigcup_{k=1}^n A_k^\star = \left(\bigcap_{k=1}^n A_k\right)^\star$$</td>
						</tr>
						<tr>
							<td>Alignment</td>
							<td>
								<div>\begin<span>{</span>align}x^2 &= x \cdot x \\ &= (-x)(-x) = (-x^2) \end{align}
								</div>
							</td>
							<td>$$\begin{align}x^2 &= x \cdot x \\ &= (-x)(-x) = (-x^2) \end{align}$$</td>
						</tr>
						<tr>
							<td>Text</td>
							<td>
								<div>\mathcal O \mathfrak F \mathscr C \text{, MathJax doesn't like åäö.}</div>
							</td>
							<td>$$\mathcal O \mathfrak F \mathscr C \text{, MathJax doesn't like åäö.}$$</td>
						</tr>
						<tr>
							<td>Over and under</td>
							<td>
								<div>\overbrace{\prod_{\underset{\sqrt n \not \in \mathbb N}{n = 1}}^{12} \sqrt
									n}^{\text{> 0}} = \underbrace{3647.6841\ldots}_{\text{Probably irrational}}
								</div>
							</td>
							<td>$$\overbrace{\prod_{\underset{\sqrt n \not \in \mathbb N}{n = 1}}^{12} \sqrt
								n}^{\text{>
								0}} = \underbrace{3647.6841\ldots}_{\text{Probably irrational}}$$</td>
						</tr>
						<!--TODO add colors and binomials to cheat sheet-->
					</tbody>
				</table>
			</div>
		</div>
		<hr>


		<div class="flex one two-800" id="Footer" style="visibility:visible">
			<div>
				<h3>Tips</h3>
				<ul>
					<li>No need to add <code>\(</code> or <code>\)</code> at the start or end of your equation.</li>
					<li>Use <code>\left(</code> and <code>\right)</code> to resize parenthesis around a fraction.
					</li>
					<li>Use <code>\\</code> to get a new line.</li>
					<li>AsciiMath supports basic LaTeX, but more complex commands will not work.</li>
				</ul>
			</div>
			<div>
				<h3>Links</h3>
				<ul>
					<li>General
						<ul>
							<li><a target="blank_"
									href="http://www.artofproblemsolving.com/wiki/index.php/LaTeX:Commands">Math
									Main Functions</a></li>
							<li><a target="blank_"
									href="https://en.wikibooks.org/wiki/LaTeX/Mathematics">LaTeX/Mathematics</a>
								on WikiBooks</li>
								<li><a target="blank_" href="http://asciimath.org/">AsciiMath reference</a></li>
						</ul>
					</li>
					<li>OCR (handwriting recognition)
						<ul>
							<li><a target="blank_" href="http://detexify.kirelabs.org/classify.html">Detexify</a>
								(symbols)</li>
							<li><a target="blank_" href="https://webdemo.myscript.com/views/math/">MyScript</a>
								(equations)
							</li>
						</ul>
					</li>
					<li>Symbols
						<ul>
							<li><a target="blank_"
									href="http://www.artofproblemsolving.com/wiki/index.php/LaTeX:Symbols">Math
									symbols in LaTeX</a>
							</li>
							<li><a target="blank_"
									href="https://ftpmirror1.infania.net/mirror/CTAN/info/symbols/comprehensive/symbols-a4.pdf">The
									Comprehensive LaTeX Symbol List</a></li>
						</ul>
					</li>
					<li>This project on <a target="blank_" href="https://github.com/oskarr/mathjax-viewer/">GitHub</a>.
					</li>
				</ul>
			</div>
		</div>

		<footer style="height: 2cm"></footer>
	</div>
</body>
</html>