/*
 * General
 */
 

code {
    background-color: #383838;
}

.button.gray {
    color: #eee;
    background-color: #555;
}

.button.cyan, button.cyan {background-color: #318BAA;}
.button.green, button.green {background-color: #2B8041;}
.button.red, button.red {background-color: #773333;}
.button.pink, button.pink {background-color: #783465;}
.button.purple, button.purple {background-color: #4A2FC2;}
.button.navy, button.navy {background-color: #254E79;}
.button.yellow, button.yellow {background-color: #ABB82C;}


/*
 * Main layout
 */

body {
    background-color: #222;
    color: #fff;
}

#app {
    padding-top: 1cm;
    max-width: 960px;
    margin: auto auto;
}

/*
 * Rendering areas
 */

.render,
select {
    border-radius: 5px;
}

.render, select, .hstack input {
    background-color: #333;
    border: 1px solid #555;
}

textarea.render,
div.render {
    min-height: 3cm;
    padding: 0.5cm;
}

/*
 * Horizontal stacks
 */

 .hstack input {
    vertical-align: middle;
    margin-left: -5px;
    margin-top: -1px;
    height: 100%;
}

.hstack {
    display: inline-block
}

.hstack .button {
    cursor: pointer;
    margin: 0 auto;
}

.hstack .button:not(:first-child),
.hstack :not(.first) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.hstack .button:not(:last-child),
.hstack :not(.last) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


/*
 * Cheat sheet
 */

#cheatsheet tbody tr td:nth-child(2) div {
    padding: .3em .6em;
    background-color: #383838;
    font-family: monospace;
    font-size: 0.9em;
    border-radius: 4px;
}

#cheatsheet thead tr th {
    background-color: #444;
}

.hstack.adder span.button:not(:first-child) {
    border-left: 1px solid #422;
}